#photo1
{
    width: 300px;
    height: 400px;
    border: 3px solid green;
}
.header
{
    display: flex;
    
}
.opis
{
    font-size: 20px;
    padding: 20px;
    padding-top: 10px;
    line-height: 1cm;
    padding: 15px;
}
h2
{
    color:blue;
}
body
{
    background-color: rgb(243, 243, 103);
}
.main > div > img
{
    width: 320px; height: 240px;
    border: 3px solid orange;
    margin: 40px;
}
 #txt
 {
     margin-left: 15px;
     text-indent: 15px;
 }
 